*.pth
*.gz
data/MNIST/raw/train-labels-idx1-ubyte
data/MNIST/raw/train-images-idx3-ubyte
data/MNIST/raw/t10k-labels-idx1-ubyte
data/MNIST/raw/t10k-images-idx3-ubyte
*.wav
UrbanSoundDataset/UrbanSound8K/UrbanSound8K/.DS_Store
UrbanSoundDataset/UrbanSound8K/UrbanSound8K/audio/.DS_Store
UrbanSoundDataset/UrbanSound8K/UrbanSound8K/audio/fold1/.DS_Store
UrbanSoundDataset/UrbanSound8K/UrbanSound8K/audio/fold10/.DS_Store
UrbanSoundDataset/UrbanSound8K/UrbanSound8K/audio/fold2/.DS_Store
UrbanSoundDataset/UrbanSound8K/UrbanSound8K/audio/fold3/.DS_Store
UrbanSoundDataset/UrbanSound8K/UrbanSound8K/audio/fold4/.DS_Store
UrbanSoundDataset/UrbanSound8K/UrbanSound8K/audio/fold5/.DS_Store
UrbanSoundDataset/UrbanSound8K/UrbanSound8K/audio/fold6/.DS_Store
UrbanSoundDataset/UrbanSound8K/UrbanSound8K/audio/fold7/.DS_Store
UrbanSoundDataset/UrbanSound8K/UrbanSound8K/audio/fold8/.DS_Store
UrbanSoundDataset/UrbanSound8K/UrbanSound8K/audio/fold9/.DS_Store
*.csv
*.txt
UrbanSoundDataset/UrbanSound8K/UrbanSound8K/metadata/.DS_Store
